<form class="form-inline" role="form" w:widget="./widget">
    <div class="form-group">
        <input type="text" class="form-control" w:el-id="keywordsInput" placeholder="Search..." value="$data.keywords">
    </div>

    <app:button type="submit" variant="primary">Search</app:button>
</form>