<div class="hello" class="hello" w:widget="./widget">
    Hello <span w:el-id="name">${data.name}!</span>

    

    <button type="button" class="hello-btn" w:el-id="button">
        This is a button
    </button>
</div>